@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Example Call API with AJAX
        </div>   <!--en dof panel-heading -->
        <div class="panel-body">
            <table class="table table-bordered" id="Table">
                <tr>
                    <th>Item code</th>
                    <th>Item name</th>
                    <th>Quantity</th>
                    <th>Order delivery</th>
                    <th>Order Address</th>
                    <th>phone number</th>
                </tr>   <!--end of table-row -->
            </table>   <!--end of table -->
        </div> <!--end of Panel-body -->
    </div> <!--end of Panel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "http://localhost:5234/api/OrderTbls",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $("#DIV").html('');
                    var DIV = '';
                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td id='ItemCode'>" + item.ItemCode + "</td>" +
                            "<td id='ItemName'>" + item.ItemName + "</td>" +
                            "<td id='ItemQty'>" + item.ItemQty + "</td>" +

                            "<td id='OrderDelivery'>" + Date(item.OrderDelivery,
                                "dd-MM-yyyy") + "</td>" +
                                "<td id='OrderAddress'>" + item.OrderAddress + "</td>" +
                                "<td id='PhoneNumber'>" + item.PhoneNumber + "</td>" +
                            "</tr>";
                        $('#Table').append(rows);
                    }); //End of foreach Loop
                    console.log(data);
                }, //End of AJAX Success function

                failure: function (data) {
                    alert(data.responseText);
                }, //End of AJAX failure function
                error: function (data) {
                    alert(data.responseText);
                } //End of AJAX error function

            });
        });
    </script>
</body>
</html>